.about{
    min-height: 100vh;
    display: grid;
    padding: 5%;
    grid-template-columns: 1fr 1fr;
    .about-text-container{
        h1{
            margin: 5% 0;
            font-size: var(--fontH1)
        }
        padding: 5%;
    }
}