.about-container{
    min-height: 100vh;
    width: 100%;
    background-color: $colorWhite;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.about-img-container{
    order: 3;
    height: 100vh;
    position: relative;
    &:before{
        content: "";
        width: 100%;
        height: 40%;
        background-color: #e5e5f7;
        justify-self: left;
        align-self: center;
        top: -200px;
        margin: 10%;
        opacity: 1;
        background-image: radial-gradient(#797a92 2px, $colorWhite 2px);
        background-size: 40px 40px;
        position: absolute;
   }
}

.img{
    position: relative;
    justify-self: left;
    width: 100%;
    margin-bottom: 10%;  
}

.about-card{
    max-width: 350px;
    order: 1;
    grid-column: span 2;
    color: $colorBlack;
    height: 100%;
    @include flex($direction: column, $justify: center, $align:right);
    gap: 20px;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 5px;
    justify-self: right;
    background: $colorWhite;
    position: relative;
    text-align: right;
    h1{
        font-size: var(--fontH1);
        color: $colorBlack;
        margin-bottom: 20px;
    };

    p{
        font-size:var(--fontP);
        };
    margin: 5%;
}

.skills-container{
    position: relative;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $colorWhite;
    max-width: 400px;
    max-height: 300px;
}

.skills-main{
    order: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-top: 50px;
}

.ico{
    max-width: 50px;
    max-height: 50px;
    &:nth-child(3){
        grid-column: span 2;
        justify-self: center;
    }
}