.footer {
  width: 100%;
  @include flex($justify: space-around, $direction: column);
  overflow: hidden;
  min-height: 100vh;
  padding: 5%;
  position: relative;
  .h1-containers {
    &::first-letter {
      color: $colorOrange;
    }
    h1 {
      font-size: var(--fontH1);
      &:nth-child(1) {
        color: $colorRed;
      }
      &:nth-child(2) {
        color: $colorOrange;
      }
      &:nth-child(3) {
        color: $colorRed;
      }
      display: inline;
    }
    box-sizing: border-box;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 5%;
  }
  .contact-container {
    @include flex($justify: flex-start);
    border-top: 3px solid $colorRed;
    background-color: $colorBlack;
    position: absolute;
    bottom: 0;
    height: 100px;
    max-height: 10vh;
    width: 100%;
    justify-content: center;
    div {
      &:hover {
        transform: scale(1.1);
      }
      @include flex($justify: space-between);
      @include flex($justify: flex-start);
    }
    gap: 35px;
    a {
      color: $colorWhite;
      background-color: transparent;
      text-decoration: none;
      font-size: var(--fontA);
      cursor: pointer;
    }
  }
}
.footer-icon {
  font-size: 30px;
  margin: 0 10px;
  color: $colorRed;
}
.mail-container {
  @include flex($justify: space-around);
  max-width: 1000px;
  width: 100%;
  img {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .footer-a-text {
    display: none;
  }
}
