.footer{
    width: 100%;
    @include flex($justify: space-between, $direction: column);
    overflow: hidden;
    height: 100vh;
    gap: 5%;
    padding: 5%;
    .h1-containers{
        text-shadow: 1px 1px 2px $colorBlack;
        h1{font-size: var(--fontH1);
            &:nth-child(1){
                color: $colorRed;
            }
            &:nth-child(2){
                color: $colorOrange;
            }
            &:nth-child(3){
                color: $colorRed;
            }
            display: inline;}
            box-sizing: border-box;
            min-width: 100vw;
            margin: 0;
            padding: 0;
            text-align: right;
            padding-right: 5%;
            
     
    }
    .contact-container{
        
      
        @include flex($justify: flex-start);
        gap: 35px;
        a{
            text-decoration: none;
            font-size: var(--fontA);
            cursor: pointer;
            @include flex($justify: space-between);
            
            &:hover{
                transform: scale(1.1);
            }
            img{
                margin: 10px;
                width: 40px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.mail-container{
    @include flex($justify: space-around);
    width: 600px;
    img{
        width: 200px;
    }
}