.footer{
    width: 100%;
    @include flex($justify: space-between);
    height: 100vh;
    gap: 5%;
    padding: 5%;
    .contact-container{
        width: 350px;
        min-height: 300px;
    }
    .contact-container{
        @include flex($justify: flex-start, $direction: column);
        gap: 15px;
        a{
            font-size: var(--fontA);
            cursor: pointer;
            @include flex($justify: space-between);
            width: 40%;
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: 40px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.mail-container{
    @include flex($justify: space-around);
    width: 600px;
    img{
        width: 200px;
    }
}