*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header{
    position: relative;
    z-index: 3;
     background: white url(../media/images/programing.jpg) center/cover no-repeat fixed;
    // background-image: url("../media/images/programing.jpg");
    
}

.svg{
margin-top: 50px;
display: flex;
flex-basis: 30%;
flex-direction: column;
position: absolute;
min-height: 150px;
}

.container{
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0, .45);
}

.cardContainer{
    width: 100%;
    position: absolute;
    height: 100%;
}

.card{
    max-width: 350px;
    color: $colorBlack;
    height: 100%;
    @include flex($direction: column, $justify: center, $align:none);
    gap: 20px;
    z-index: 5;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 5px;

    h3{
        color: $colorOrange;
    }

    h1{
        font-size: var(--fontH1);
        color: $colorWhite;
        margin-bottom: 20px;
    }
    
    p{
        color: $colorWhite;
        text-align: left;
        font-size:var(--fontP);
        };
    margin: 5%;
}



