*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    background-color: $colorBrown;
    z-index: 3;
    background-image: url("../media/images/programing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.svg{
margin-top: 50px;
display: flex;
flex-basis: 30%;
flex-direction: column;
position: absolute;
min-height: 150px;
}

.container{
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0, .45);
}

.path{
    fill:#23282b;
    fill-opacity:1;
}

.cardContainer{
    width: 100%;
    position: absolute;
    height: 100%;
}

.card{
    max-width: 350px;
    color: $colorBlack;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 5;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 5px;
    text-align: left;
    h3{
        color: $colorOrange;
    }
    h1{
        font-size: var(--fontH1);
        color: $colorWhite;
        margin-bottom: 20px;
    }
    p{
        color: $colorWhite;
        text-align: left;
        font-size:var(--fontP);
        };
    bottom: 0;
    right: 0;
    margin: 20px;
}

