.projects{
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    @include flex($direction: column, $wrap: wrap, $justify: space-between);
    .pages{
        display: flex;
        position: relative;
        z-index: 1;
        button{
            box-shadow: 0 0 10px;
            width: 50px;
            height: 50px;
            margin: 10px 10px 10px;
            border-radius: 3px;
            
            border: 1px solid none;
            font-size: 16px;
            cursor: pointer;
            transition: 0.1s;
            &:hover{
                transform: scale(1.1);
                background-color: rgb(48, 131, 190);
                color: white;
            }
        }
    }
    .projects-titles-container{          
        box-sizing: border-box;
        align-self: flex-start;
        padding-left: 5%;
        h1{
            font-size: var(--fontH1);
            display: inline;
            &:nth-child(1){
                color: $colorRed;
            }
            &:nth-child(2){
                color: $colorOrange;
            }
        }           
    }
}

.projects-title-container{
    width: 100%;
    color:$colorRed
}

.projects-container{
    @include flex();
    width: 100%;
    gap: 100px;
    &:before{
        @include backgroundBefore($width:50%, $height:70%);
    }
    position: relative;
}

.projects-card{
    box-sizing: border-box;
    border-radius: 3px;
    @include flex($direction: column, $justify: space-between);
    width: 400px;
    background-color: transparent;
    border-radius: 5px;
    .projects-img-container{
        max-width: 350px;
        align-self: flex-start;
        height: 200px;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        .projects-desktop-screen{
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 120%;
        }
        .projects-img{
            padding: 8px;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 100%;
        }
        .projects-mobile{
            top: 0;
            width: 100%;
            position: absolute;
            z-index: 20;
            .projects-mobile-position{
                position: relative;
                background-color: red;
                width: 30%;
                right: -90%;
                bottom: -55px;
                .projects-mobile-screen{
                    width: 100%;
                    position: absolute;
                    z-index: 30; 
                }
                .projects-mobile-img{
                    border-radius: 20px;
                    padding: 15px 2px;
                    height: 220px;
                    display: flex;
                    position: absolute;
                    z-index: 20;
                    width: 100%;
                    margin: auto;
                }
            } 
        }
    }
    
    .projects-description{
        margin-top: 50px;
        padding: 10px;
        min-height: 120px;
        
    }
    // box-shadow: 3px 3px 20px rgb(66, 65, 65);
    transition: .3s;
    .buttons-container{
        @include flex($justify: space-around);
        width: 100%;
        flex-basis: 70px;

        .button1 ,.button2{
            width: 90px;
            height: 35px;
            border-radius: 3px;
            font-size: var(--fontA);
            cursor: pointer;
            border-radius: 10px;    
            transition: 0.2s;
            text-decoration: none;
            border: 1px solid;
            @include flex($justify: space-around);
           
            img{
              display: none;
            }

        }
        .button2{
            border: none;
            &:hover{
                transform: scale(1.1);
            }
        }
        .buttons-code{
            &:nth-child(3){
                color: $colorRed;
            }
            &:nth-child(2){
                color: $colorOrange;
            }
            &:nth-child(4){
                color: $colorOrange;
            }
        }
        
    }
}









