.light{
    background-color: $colorWhite ;
    color: $colorBlack;
    border-color: $colorBlack;
}

.dark{
    background-color: $colorBlack;
    color: $colorWhite;
    border-color: $colorWhite;
    
}