//variables
    //colors
    $colorGreen: #6D9773;
    $colorDarkGreen: #0C3B2E;
    $colorBrown: #BB8A52;
    $colorOrange: #FFBA00;
    $colorBlack:rgb(26, 24, 24);
    $colorWhite: rgb(245, 233, 233);
    //font sizes
    $fontA: 18px;

