//variables
:root{
    --fontP: 1rem;
    --fontA: 1rem;
    --fontH2: 2.5rem;
    --fontH1: 3rem;
    @media screen and (min-width: 700px){
        --fontP: 1.1rem;
        --fontA: 1.2rem;
        --fontH2: 2.5rem;
        --fontH1: 3.2rem;
    }
}
    //colors
    $colorGreen: #6D9773;
    $colorDarkGreen: #f2f8f6;
    $colorBrown: #BB8A52;
    $colorOrange: #FFBA00;
    $colorBlack:rgba(26, 24, 24,1);
    $colorWhite: rgb(245, 243, 243);
    $colorWhiteOpacity: rgb(255, 255, 255, .6);
    //mixins
    @mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap){
        display: flex;
        flex-direction: $direction;
        align-items: $align;
        justify-content: $justify;
        flex-wrap: $wrap;
    }
    
 
    

   

